<nb-layout>
    <nb-layout-header *ngIf="state" fixed>

        <button (click)="toggleSideNavBar()" class="btn-collapse" ghost nbButton size="tiny" status="success">
            <nb-icon icon="menu-outline" style="font-size: 35px"></nb-icon>
        </button>
        <span *ngIf="state"></span>
    </nb-layout-header>

    <nb-sidebar *ngIf="state" [state]="sidestate" tag="left">
        <nb-sidebar-header>
            <img alt="" class="center" src="../../assets/img/{{imageSource}}.png">
            <p class="padded center">welcome {{user["first_name"]}}</p>

        </nb-sidebar-header>

        <nb-menu *ngIf="state" [items]="items" autoCollapse="true" class="bordered top-margin-15"></nb-menu>
        <hr>
        <h5 class="center">Theme</h5>
        <nb-select (selectedChange)="updateLogo($event)" [(selected)]="selectedItem" placeholder="Select Showcase">
            <nb-option value="corporate">Corporate</nb-option>
            <nb-option value="cosmic">Cosmic</nb-option>
        </nb-select>

    </nb-sidebar>

    <nb-layout-column [ngClass]="{'pt-0 pd-0' : !state,'hide':containerHide}" class="colored-column-warning">
        <ng-content select="router-outlet"></ng-content>
    </nb-layout-column>
</nb-layout>
