:host nb-layout-header button:last-child {
  margin-left: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.padded {
  padding-top: 5px;
  padding-bottom: 5px;

}

.top-margin-15 {
  margin-top: 85px;
}

.btn-collapse {
  display: none;
}

@media only screen and (max-width: 1366px) {
  .btn-collapse {
    display: inline;
  }
}

.hide {
  display: none;
}
