<app-side-nav>
    <router-outlet></router-outlet>
</app-side-nav>
<ngx-spinner [fullScreen]="true"
             bdColor="#5b58f1"
             bdOpacity=0.9
             color="#67f679"
             name="loader"
             size="large"
             type="ball-atom"
>
    <p style="color: white"> Loading... </p>
</ngx-spinner>
