<div>
    <div class="row">
        <div class="col-lg-4  col-md-12  col-sm-12">
            <nb-card>
                <nb-card-header>
                    Pending
                </nb-card-header>
                <nb-card-body>
                    <h1 class="center">
                        <nb-icon icon="clock" status="success" style="font-size: 50px"></nb-icon>
                        {{pendingtasks?.length}}</h1>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-lg-4 col-md-12  col-sm-12">
            <nb-card>
                <nb-card-header>
                    Late
                </nb-card-header>
                <nb-card-body>
                    <h1 class="center">
                        <nb-icon icon="alert-triangle" status="danger" style="font-size: 50px"></nb-icon>
                        {{latetasks?.length}}</h1>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-lg-4 col-md-12  col-sm-12">
            <nb-card>
                <nb-card-header>
                    Open
                </nb-card-header>
                <nb-card-body>
                    <h1 class="center">
                        <nb-icon icon="calendar" status="info" style="font-size: 50px"></nb-icon>
                        {{opentasks?.length}}</h1>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4  col-md-12  col-sm-12">
            <nb-card size="large">
                <nb-card-header>
                    Pending Tasks
                </nb-card-header>
                <nb-card-body>
                    <p *ngIf="pendingtasks?.length === 0" class="center">No Pending Tasks</p>
                    <nb-list>

                        <nb-list-item *ngFor="let pendingtasks of pendingtasks">
                            <div class="row">
                                <div class="col-12">
                                    <button fullWidth nbButton nbTooltip="Start: {{getDate(pendingtasks.limit_date)}}"
                                            status="success"
                                            nbTooltipPlacement="top"
                                            outline>{{pendingtasks.name}}</button>
                                </div>
                            </div>
                        </nb-list-item>
                    </nb-list>
                </nb-card-body>

            </nb-card>
        </div>
        <div class="col-lg-4 col-md-12  col-sm-12">
            <nb-card size="large">
                <nb-card-header>
                    Late Tasks
                </nb-card-header>
                <nb-card-body>
                    <p *ngIf="latetasks?.length === 0" class="center">No Late Tasks</p>
                    <nb-list>

                        <nb-list-item *ngFor="let latetask of latetasks">
                            <div class="row">
                                <div class="col-12">
                                    <button [queryParams]="{debug: true}" [routerLink]="['/task']" fullWidth nbButton
                                            status="danger"
                                            nbTooltip="Deadline: {{getDate(latetask.limit_date)}}"
                                            nbTooltipIcon="alert-triangle-outline"
                                            nbTooltipPlacement="top" nbTooltipStatus="danger"
                                            outline>{{latetask.name}}</button>
                                </div>
                            </div>
                        </nb-list-item>
                    </nb-list>
                </nb-card-body>

            </nb-card>
        </div>
        <div class="col-lg-4 col-md-12  col-sm-12">
            <nb-card size="large">
                <nb-card-header>
                    Open Tasks
                </nb-card-header>
                <nb-card-body>
                    <p *ngIf="opentasks?.length === 0" class="center">No Open Tasks</p>
                    <nb-list>

                        <nb-list-item *ngFor="let opentask of opentasks">

                            <div class="row">
                                <div class="col-12">
                                    <button fullWidth nbButton nbTooltip="Deadline: {{getDate(opentask.limit_date)}}" status="info"
                                            nbTooltipPlacement="top"
                                            outline>{{opentask.name}}</button>
                                </div>
                            </div>

                        </nb-list-item>
                    </nb-list>
                </nb-card-body>

            </nb-card>
        </div>
    </div>
</div>


