@import 'themes';
@import '~@nebular/auth/styles/all';
@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
}

;
/* You can add global styles to this file, and also import other style files */
.another-action {
  display: none;
}

a.text-link {
  display: none;
}

.pt-0 {
  padding-top: 0 !important;
}

.pd-0 {
  padding-bottom: 0 !important;
}
